.layout {
  padding: 0 44px;
  .waterfall {
    // display: flex;
    // flex-wrap: wrap;
    display: block;
    overflow: hidden;
    padding: 20px 0px;
    .imageBox {
      margin: 20px;
      display: block;
      // flex-grow: 1;
      float: left;
      position: relative;
      overflow: hidden;
      img {
        width: 100%;
        &:after {
          content: "";
          display: block;
          flex-grow: 99999;
        }
      }
    }
  }
}
